@charset "utf-8";
/* CSS Document */

a{
	text-decoration: none;
}


.button{
    
    width: 100px;
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    background-color: #039C97;
    border: 2px solid #03948F;
}


.smallbutton{
    
    width: 50px;
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    background-color: #D89234;
}




.container{

	position:relative;
	width: 1200px;
	margin: 0 auto;
	height: 1500px;
	background-color: #EEE;	
	
}

.nav{

    position: relative;
    letter-spacing: 0px;
    top: 9px;
    left: 70px;
    width: 100px;
    padding: 5px 10px;
    font-family: "Oswald",sans;
    font-size: 15px;
    color: #FFF;
    margin-left: 20px;
}

.newsrolloverwrapper{
    
    font-family: "Oswald",sans;
    font-size: 15px;
    color: #000;
    letter-spacing: 0px;
}

#hai{
    
    position: relative;
    top: 50px;
}


#title{
	
  position: relative;	
  top:50px;
  width: 1200px;
  height: 150px;
  background:url(simple1.png);
}

.header{
	
	position:fixed;
	margin: 0 auto;
	width: 1200px;
	height: 40px;
	top: 0px;
	background-color: #000;	
}





#Home:hover{
	
	color: #FFF;
	background-color: #e0662c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#Admission:hover{
	
	color: #FFF;
	background-color: #e0662c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#Academic:hover{
	
	color: #FFF;
	background-color: #e0662c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#Achievements:hover{
	
	color: #FFF;
	background-color: #e0662c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#Facilities:hover{
	
	color: #FFF;
	background-color: #e0662c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#Gallery:hover{
	
	color: #FFF;
	background-color: #e0662c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#Placement:hover{
	
	color: #FFF;
	background-color: #e0662c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#Research:hover{
	
	color: #FFF;
	background-color: #e0662c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#Training:hover{
	
	color: #FFF;
	background-color: #e0662c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#AboutUs:hover{
	
	color: #FFF;
	background-color: #e0662c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#News:hover{
	
	color: #FFF;
	background-color: #e0662c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.noti{
	
	
	position: relative;
	top: 50px;
	left:0px;
	width: 1200px;
	height: 100px;
	background-color:#F03;
	
}


#line{
    
	position: relative;
	top: 900px;
	left:0px;
	width: 1200px;
	height: 10px;
	background-color:#000;
	
}

#map_canvas { 
 
 position: relative;
	top: 900px;
	left:0px;
	width: 1200px;
	height: 300px;
	background-color:#F03;
 }
 

 
 
#toppers{	
 
	width: 300px;
	height: 400px;
	position:absolute;
	top: 230px;
	left: 20px;
	background-color: #FFF; 
	box-shadow: 3px 3px 7px #CCC; 
 }
 
#wrappertoppers{	
 
	width: 300px;
	height: 45px;
	position:relative;
	top: 0px;
	left: 0px;
	background-color: #970C7A; 
 }
 
 
#newsrolloverwrapper{    
 
    width: 280px;
    height: 300px;
    position:relative;
    padding-left: 10px;
    padding-right: 10px;
    top: -20px;
    left: 0px;
    background-color: #BBE; 
 }
 
 
#top{
	 position:relative;
	 font-family:"Lucida Fax", Geneva, sans-serif;
	 letter-spacing: -1.5px;
	 font-weight:bolder;
	 font-size: 20px;
	 color: #FFF;
	 top: -37px;
	 left: 110px;
	 
 }
 
 
#photo{
	 position:relative;
	 width: 200px;
	 height: 200px;
	 background-color:#666;
	 color: #FFF;
	 top: 0px;
	 left: 50px;
	 
 }
 
#deg{
	 position:relative;
	 font-family:"Lucida Fax", Geneva, sans-serif;
	 letter-spacing: -1.5px;
	 font-weight:bolder;
	 font-size: 20px;
	 color: #000;
	 top: 10px;
	 left: 130px;
	 
 }
 
#course{
	 position:relative;
	 font-family:"Lucida Fax", Geneva, sans-serif;
	 letter-spacing: -1.5px;
	 font-weight:bolder;
	 font-size: 20px;
	 color: #000;
	 top: 40px;
	 left: 20px;
	 
 }
 
#rank{
	 position:relative;
	 font-family:"Lucida Fax", Geneva, sans-serif;
	 letter-spacing: -1.5px;
	 font-weight:bolder;
	 font-size: 20px;
	 color: #C00;
	 top: 50px;
	 left: 60px;
	 
 }
 
 
#news{	
 
	width: 300px;
	height: 400px;
	position:absolute;
	top: 230px;
	left: 880px;
	background-color: #FFF; 
	box-shadow: 3px 3px 7px #CCC; 
 }
 
 .scroll{
	 
	 width: 300px;
	height: 300px;
	margin-left: 30px;
	 
	 
 }
 

.flashContainer{
    
    
    width: 1180px;
    height: 20px;
    position:absolute;
    margin: 0 auto;
    top: 180px;
    background-color: #7E858D; 
    padding: 10px;
    
}

#vinayagar{
    
    position: relative;
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 14px;
    color: #000;
    
}


#photos{
    
    width: 520px;
    height: 400px;
    position:absolute;
    left: 340px;
    top: 230px;
    background:url(image1.png);
    
    
}

#infosys{
    
    width: 200px;
    height: 120px;
    position:absolute;
    left: 280px;
    top: 670px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #C2DBD4;  
    background: url(infosys.png);
    
}


#infosys:hover{
    
    width: 200px;
    height: 120px;
    position:absolute;
    left: 280px;
    top: 670px;
    opacity: 1;
    border-radius: 5px;
    
    background: url(infosys.png);
	box-shadow: 4px 4px 10px #000;  
	cursor: pointer;
    
}


#infosysbutton{
    
   position: relative;
    top: 80px;
    left: 130px; 
    opacity: 0.2;
    transition: all 0.7s ease;
}

#infosys:hover #infosysbutton{
    
    opacity: 1;
    
}


#infosysbutton:hover #infosystext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 13px;
    color: #DEC;
}

#infosystext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 13px;
    color: #000;
}


#labview{
    
    width: 200px;
    height: 120px;
    position:absolute;
    left: 500px;
    top: 670px;
     border-radius: 5px;
    box-shadow: 2px 2px 2px #C2DBD4;  
    background: url(labview.png);
    
    
}

#labview:hover{
    
    width: 200px;
    height: 120px;
    position:absolute;
    left: 500px;
    top: 670px;
   border-radius: 5px;
    box-shadow: 4px 4px 10px #000;  
	cursor: pointer;
    background: url(labview.png);
    
    
}


#labviewbutton{
    
   position: relative;
    top: 80px;
    left: 130px; 
    opacity: 0.2;
    transition: all 0.7s ease;
}

#labview:hover #labviewbutton{
    
    opacity: 1;
    
}



#labviewbutton:hover #labviewtext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 13px;
    color: #DEC;
}

#labviewtext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 13px;
    color: #000;
}




#renewable{
    
    width: 200px;
    height: 120px;
    position:absolute;
    left: 720px;
    top: 670px;
     border-radius: 5px;
    box-shadow: 2px 2px 2px #C2DBD4;  
    background: url(renewable.png);
    
    
}

#renewable:hover{
    
    width: 200px;
    height: 120px;
    position:absolute;
    left: 720px;
    top: 670px;
     border-radius: 5px;
    box-shadow: 4px 4px 10px #000;  
	cursor: pointer;  
    background: url(renewable.png);
    
    
}

#renewablebutton{
    
   position: relative;
    top: 80px;
    left: 130px; 
    opacity: 0.2;
    transition: all 0.7s ease;
}


#renewable:hover #renewablebutton{
    
    opacity: 1;
    
}

#renewablebutton:hover #renewabletext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 13px;
    color: #DEC;
}

#renewabletext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 13px;
    color: #000;
}


#robotics{
    
    width: 200px;
    height: 120px;
    position:absolute;
    left: 280px;
    top: 810px;
     border-radius: 5px;
    box-shadow: 2px 2px 2px #C2DBD4;  
    background: url(carneige.png);
    
    
}

#robotics:hover{
    
    width: 200px;
    height: 120px;
    position:absolute;
    left: 280px;
    top: 810px;
     border-radius: 5px;
    box-shadow: 4px 4px 10px #000;  
	cursor: pointer;
    background: url(carneige.png);
    
    
}

#roboticsbutton{
    
   position: relative;
    top: 80px;
    left: 130px; 
    opacity: 0.2;
    transition: all 0.7s ease;
}


#robotics:hover #roboticsbutton{
    
    opacity: 1;
    
}

#roboticsbutton:hover #roboticstext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 13px;
    color: #DEC;
}

#roboticstext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 13px;
    color: #000;
}


#ibm{
    
    width: 200px;
    height: 120px;
    position:absolute;
    left: 500px;
    top: 810px;
     border-radius: 5px;
    box-shadow: 2px 2px 2px #C2DBD4;  
    background: url(ibm.png);
    
    
}

#ibm:hover{
    
    width: 200px;
    height: 120px;
    position:absolute;
    left: 500px;
    top: 810px;
     border-radius: 5px;
    box-shadow: 4px 4px 10px #000;  
	cursor: pointer; 
    background: url(ibm.png);
    
    
}

#ibmbutton{
    
   position: relative;
    top: 80px;
    left: 130px; 
    opacity: 0.2;
    transition: all 0.7s ease;
}

#ibm:hover #ibmbutton{
    
    opacity: 1;
    
}


#ibmbutton:hover #ibmtext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 13px;
    color: #DEC;
}

#ibmtext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 13px;
    color: #000;
}


#microsoft{
    
    width: 200px;
    height: 120px;
    position:absolute;
    left: 720px;
    top: 810px;
     border-radius: 5px;
    box-shadow: 2px 2px 2px #C2DBD4;  
    background: url(microsoft.png);
    
    
}

#microsoft:hover{
    
    width: 200px;
    height: 120px;
    position:absolute;
    left: 720px;
    top: 810px;
     border-radius: 5px;
    box-shadow: 4px 4px 10px #000;  
	cursor: pointer; 
    background: url(microsoft.png);
    
    
}



#microsoftbutton{
    
   position: relative;
    top: 80px;
    left: 130px; 
    opacity: 0.7;
    transition: all 0.7s ease;
}


#microsoft:hover #microsoftbutton{
    
    opacity: 1;
    
}

#microsoftbutton:hover #microsofttext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 13px;
    color: #DEC;
}

#microsofttext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 13px;
    color: #000;
}


#newsbutton{
    
    position: relative;
    top: 110px;
    left: 90px;
}


#newsbutton:hover #newstext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 14px;
    color: #DEC;
}



#newstext{
    
    font-family:"Lucida Fax", Geneva, sans-serif;
    letter-spacing: -1px;
    font-weight:bolder;
    font-size: 14px;
    color: #000;
}





